body {
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (min-width: 1280px) {

    .ham-nav {
        display: none;
    }

    .WebsiteHeaderDesktopVersion {
        display: flex;
        flex-direction: column;

    }

    .WebsiteHeaderDesktopVersion img {
        height: 10em;
        width: 10em;
        background-size: contain;
        padding: 10px;

    }

    .WebsiteTitle {
        flex: 1;
        order: 2;
    }

    .WebsitePayoff {
        flex: 1;
        order: 3;
    }

    .navigationSection {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-links li {
        display: flex;
        display: inline-block;
        padding: 0 20px;

    }

    .promoVIDEO {
        display: flex;
        justify-content: center;
    }

    .articleAsideSection {
        display: flex;
        justify-content: space-around;
    }

    .endpage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #FA0;
        opacity: 50%;
        color: #fff;
    }

    .endpage .copyrights {
        display: flex;
        align-items: flex-start;
    }

    .endpage .cookies {
        display: flex;
        align-items: flex-end;
    }

    .tableAsiders {
        display: none;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 481px) {
    .ham-nav {
        display: none;
    }


    .WebsiteHeaderDesktopVersion {
        display: flex;
        flex-direction: column;

    }

    .WebsiteHeaderDesktopVersion img {
        height: 10em;
        width: 10em;
        background-size: contain;
        padding: 10px;

    }

    .WebsiteTitle {
        flex: 1;
        order: 2;
    }

    .WebsitePayoff {
        flex: 1;
        order: 3;
    }

    .navigationSection {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-links li {
        display: flex;
        display: inline-block;
        padding: 0 20px;

    }

    .tableAsiders {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .promoVIDEO {
        display: flex;
        justify-content: center;
    }

    .articleAsideSection {
        display: flex;
        justify-content: space-around;

    }

    .articleAsideSection .asds {
        display: none;
    }

    .endpage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #FA0;
        opacity: 50%;
        color: #fff;
    }

    .endpage .copyrights {
        display: flex;
        align-items: flex-start;
    }

    .endpage .cookies {
        display: flex;
        align-items: flex-end;
    }

}

@media only screen and (max-width: 480px) {

    .WebsiteHeaderDesktopVersion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .WebsiteHeaderDesktopVersion .logo {

        display: none;
    }

    .WebsiteHeaderDesktopVersion .ham-nav {
        position: relative;
        display: inline-block;
    }

    .WebsiteHeaderDesktopVersion .ham-nav .hamnavIMG {
        height: 50px;
        margin-top: 30px;
    }

    .WebsiteHeaderDesktopVersion .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }


    .WebsiteHeaderDesktopVersion .ham-nav:hover .dropdown-content {
        display: block;
    }


    .navigationSection {
        display: none;

    }

    .nav-links li {
        display: none;

    }


    .tableAsiders {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    .promoVIDEO {
        display: none;
    }

    .articleAsideSection {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .articleAsideSection .asds {
        display: none;
    }

    .endpage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #FA0;
        opacity: 50%;
        color: #fff;

    }

    .endpage .copyrights {
        display: flex;
        align-items: flex-start;
    }

    .endpage .cookies {
        display: flex;
        align-items: flex-end;
    }

}